.divCen {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
}
.error {
    color: red;
    font-style: italic;
}

.bigInp {
    width: 200px;
    height: 20px;
    border: 1px solid #999999;
    padding: 5px;
    text-align: center;
    font-family: Consolas;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 5.5px;
}

.imgBtn {
    border: 5px solid #555;
}

