<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IT376-PZ</title>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="divCen">
    <h3><u>Change Robot Arm Position</u></h3>
    <form action="#" th:action="@{ui/v1/record}" th:object="${position}" method="post" enctype="multipart/form-data">
        <p title="Vrednosti od 0 do 180 stepeni.">
            Base: <br/> <input type="text" class="bigInp" th:field="*{p1}" th:type="number" th:max="180" th:min="0" required>
        <td th:if="${#fields.hasErrors('p1')}" th:errors="*{p1}" class="error"></td>

        </p>
        <p title="Vrednosti od 15 do 165 stepeni.">
            Shoulder: <br/> <input type="text" class="bigInp" th:field="*{p2}" th:type="number" th:max="165"
                                   th:min="15" required>
        <td th:if="${#fields.hasErrors('p2')}" th:errors="*{p2}" class="error"></td>

        </p>
        <p title="Vrednosti od 0 do 180 stepeni.">
            Elbow:<br/><input type="text" class="bigInp" th:field="*{p3}" th:type="number" th:max="180" th:min="0" required>
        <td th:if="${#fields.hasErrors('p3')}" th:errors="*{p3}" class="error"></td>

        </p>
        <p title="Vrednosti od 0 do 180 stepeni.">
            Wrist Vertical: <br/> <input class="bigInp" type="text" th:field="*{p4}" th:type="number" th:max="180"
                                         th:min="0" required>
        <td th:if="${#fields.hasErrors('p4')}" th:errors="*{p4}" class="error"></td>

        </p>
        <p title="Vrednosti od 0 do 180 stepeni.">
            Wrist Rotational: <br/> <input class="bigInp" type="text" th:field="*{p5} " th:type="number" th:max="180"
                                           th:min="0" required>
        <td th:if="${#fields.hasErrors('p5')}" th:errors="*{p5}" class="error"></td>

        </p>
        <p title="Vrednosti od 10 do 73 stepeni.">
            Gripper: <br/> <input type="text" class="bigInp" th:field="*{p6}" th:type="number" th:max="73" th:min="10" required>
        <td th:if="${#fields.hasErrors('p6')}" th:errors="*{p6}" class="error"></td>

        </p>
        <p>
            <input type="submit" value="SUBMIT"/>
        </p>
    </form>
</div>
<br/>
<div class="divCen">
    <h3><u>Switch to Predefined Positions</u></h3>
    <div>
        <img th:class="imgBtn" th:src="@{assets/pos1_img.png}" th:onclick="pos1();">
        <img th:class="imgBtn" th:src="@{assets/pos2_img.png}" th:onclick="pos2();">
        <img th:class="imgBtn" th:src="@{assets/pos3_img.png}" th:onclick="pos3();">
    </div>
    <div>
        <img th:class="imgBtn" th:src="@{assets/pos4_img.png}" th:onclick="pos4();">
        <img th:class="imgBtn" th:src="@{assets/pos5_img.png}" th:onclick="pos5();">
        <img th:class="imgBtn" th:src="@{assets/pos6_img.png}" th:onclick="pos6();">
    </div>
    <div>
        <img th:class="imgBtn" th:src="@{assets/pos7_img.png}" th:onclick="pos7();">
        <img th:class="imgBtn" th:src="@{assets/pos8_img.png}" th:onclick="pos8();">
        <img th:class="imgBtn" th:src="@{assets/pos9_img.png}" th:onclick="pos9();">
    </div>
    <div>
        <img th:class="imgBtn" th:src="@{assets/reset_img.png}" th:onclick="reset();">
    </div>
    <p>DS-3232; NP-3274; LS-3278</p>
</div>
</body>
<script src="../js/main.js"></script>
</html>